# The name of the app.
APP_NAME="Cadence"
# 
APP_VERSION=1

# The OneSignal app ID.
# Go to https://onesignal.com/apps/{YOUR_APP_ID}/settings/keys to find yours.
ONESIGNAL_APP_ID=""

# The OneSignal REST API key.
# Go to https://onesignal.com/apps/{YOUR_APP_ID}/settings/keys to find yours.
ONESIGNAL_REST_API_KEY=""

# The secret token used by the GitHub workflow to authenticate the cron job.
# Go to https://github.com/{YOUR_USERNAME}/{YOUR_REPO}/settings/secrets/actions to create a new secret.
CRON_SECRET=""

